/**********************************************TAG SELECTORS********************************************/
body{
    color: #40514e;
    margin: 0;
    background-color: rgb(248, 243, 236);
    text-align: center;
    
}

hr{
    border: 10px dotted #176153;
    border-bottom: none;
    width: 9%;
    margin: 100px auto 100px auto;
    
}

div{
    margin: 0;
}

h1{
    color: #66BFBF;
    margin-bottom: 0px;
    line-height: 2;
    margin-top: 30px;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
}

h2{
    font-size: 50px;
    color: rgb(33, 151, 151);
}

h3{
    font-weight: bolder;
    font-size: large;
    line-height: 2;
    text-decoration: underline;
}



p{
    color: #40514e;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 0;
    line-height: 2;
}

/**********************************************CLASS SELECTORS********************************************/
.top-container{
    background-color:rgb(212, 244, 247);   
    position: relative;
}

.charminar{
    height: 30px;
    width: 30px;
}

.logo{
    height: 20px;
    width: 60px;
}

.lower{
    font-size: 30px;
}

.top-cloud{ 
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 550px;
}

.bottom-cloud{
    margin-top: 30px;
    display: block;
    margin-left: 450px;
}

.pro{
    text-decoration: underline;
}

.profile{
    margin: 100px auto 80px auto;
}

.pic{
    height: 12%;
    width: 12%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1;
}

.requirements{
    float: left;
    margin-right: 30px;
    width: 25%;
    height: 25%;
}

.emoji{
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}


/**********************************************ID SELECTORS********************************************/
